{% extends "Board_games/base.html" %}
<title>{{ game.title }}</title>

{% block content %}
    <h1>{{ game.title }}</h1>
    <ul>
        <li><strong>Autor:</strong> {{ game.author }}</li>
        <li><strong>Wydawca:</strong> {{ game.publisher }}</li>
        <li><strong>Liczba graczy:</strong> {{ game.min_players }} - {{ game.max_players }}</li>
        <li><strong>Czas gry:</strong> {{ game.time }}</li>
    </ul>

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_comment' game_id=game.id %}">
            {% csrf_token %}
            <button type="submit">Dodaj opinię</button>
        </form>
    {% endif %}

    <h2>Opinie</h2>
    <ul>
        {% for comment in game.comments_set.all %}
            <li><strong>{{ comment.user.nickname }}: {{ comment.rating }} </strong><br>
                {{ comment.comment }}</li>
        {% endfor %}
    </ul>

{% endblock %}